@font-face{
  font-family: "Roboto";
  src: url("./Fonts/roboto/Roboto.ttf");
  font-style: normal;
  font-weight: normal;
}

body{
  font-family: "Roboto";
}

.page{
  width: 1920px;
  height: 693px;
}
.head{

  padding: 56px 402px;
}

.head_top{
  display: flex;
  justify-content: space-between;
}

.head_top_img{
  width: 96px;
  height: 60px;
}

.head_top_menu_item{
  transition: 0.001s color;
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.head_top_menu_item:hover{
  color: #34547A;  
}


.main{
  color: #34547A;      
}

.head_down{
  display: flex;
  padding: 160px 0 0 100px;
  align-items: center;   
}

.head_down_img{
  width: 357px;
  height: 231px;
  padding-right: 130px;

}
.head_down_content{
  padding: 0;

}
.head_down_content_title{
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;
}

.head_down_content_text{
  font-size: 16px;
  line-height: 25px;
  color: #727272;
  margin-top: 0;
  margin-bottom: 60px;
  padding: 0;
}

button{
  background-color: #34547A;
  opacity: 0.8;
  color: #fff;
  border: none;
  padding: 20px 40px;
  font-size: 16px;
  width: 225px;
  height: 64px; 

}